{% extends "myshop/index.html" %}
{% load static %}

{% block title %}
  Koszyk na zakupy
{% endblock %}

{% block content %}
  <h1>Koszyk na zakupy</h1>
  <table class="cart">
    <thead>
      <tr>
        <th>Obraz</th>
        <th>Produkt</th>
        <th>Ilość</th>
        <th>Usuń</th>
        <th>Cena jednostkowa</th>
        <th>Kwota</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        {% with product=item.product %}
          <tr>
            <td id="cart_detail_img">
              <a href="{{ product.get_absolute_url }}" id="cart_detail_imgproductdetail">
                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" alt="Zdjecie produktu">
              </a>
            </td>
            <td id="cart_detail_name">{{ product.name }}</td>
            <td id="cart_detail_quantity">
              <form action="{% url "cart:cart_add" product.id %}" method="post">
                {{ item.update_quantity_form.quantity }}
                {{ item.update_quantity_form.update }}
                <input type="submit" value="Zmień" id="cart_detail_updatequantity">
                {% csrf_token %}
              </form>
            </td>
            <td><a href="{% url "cart:cart_remove" product.id %}" id="cart_detail_removeproduct">Usuń</a></td>
            <td class="num" id="cart_detail_itemprice">{{ item.price }} zł</td>
            <td class="num" id="cart_detail_totalitemprice">{{ item.total_price }} zł</td>
          </tr>
        {% endwith %}
      {% endfor %}
      <tr class="total">
        <td>Wartość całkowita</td>
        <td colspan="4"></td>
        <td class="num" id="cart_detail_totalprice">{{ cart.get_total_price }} zł</td>
      </tr>
    </tbody>
  </table>
  <p class="text-right">
    <a href="{% url "myshop:product_list" %}" class="button light" id="cart_detail_continueshopping">Kontynuuj zakupy</a>
   
     <a href="{% url "orders:order_create" %}" class="button" id="cart_detail_createorder">
      Do kasy
    </a>
  </p>
{% endblock %}