{% extends "myshop/base.html" %}

{% block title %}Logowanie{% endblock %}

{% block content %}
<h1> Logowanie </h1>
{% if form.errors %}
	<p>Nazwa użytkownika lub hasło są niepoprawne, spróbuj jeszcze raz. </p>
{% else %}
	<p>Wypełnij poniższy formularz, aby się zalogować </p>
	<p>Jeśli nie masz jeszcze konta, możesz je utworzyć <a href="{% url "account:register" %}">tutaj</a>.</p>
{% endif %}
<form action="{% url 'account:login' %}" method="post">
	{{form.as_p}}
	{% csrf_token %}
	<input type="hidden" name="next" value="{{ next }}"/>
	<p><input type="submit" value="Zaloguj"></p>
</form>
<a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
<a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a>
{% endblock %}